<META HTTP-EQUIV="MSThemeCompatible" Content="no">
<style>
body\{background-color:#ffffff;\}
.loadingdiv\{font-family:Tahoma,Verdana; font-size:11px;\}
</style>
<script>
	function hide_loading()
	\{
		document.getElementById('loadingdiv').style.display = 'none';
	\}
</script>
<div class="loadingdiv" id="loadingdiv">
<TABLE WIDTH="100%" BORDER="0" CELLPADDING="0" CELLSPACING="0" HEIGHT="100%">
<TR>
  <TD ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="100%" HEIGHT="100%" class="loadingdiv"><b>Loading...</b><br><br></TD>
</TR>
</TABLE> 
</div>
