<!--#include virtual="holiday/temp_include.htm" -->
<body style="border:2px inset;">

	 <TABLE WIDTH="100%" BORDER="0" CELLPADDING="0" CELLSPACING="0"
	  HEIGHT="100%"> 
		<TR> 
		  <TD HEIGHT="100%" WIDTH="100%" ALIGN="CENTER" VALIGN="MIDDLE"> 
			 <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" CLASS="panelouter">				<TR> 
				  <TD> 
					 <TABLE WIDTH="100%" BORDER="0" CELLPADDING="10" CELLSPACING="0"
					  CLASS="panelinner" HEIGHT="100%"> 
						<TR> 
						  <TD CLASS="panelbody" HEIGHT="100%" WIDTH="100%"
							ALIGN="RIGHT" VALIGN="TOP"> 
							 <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0"> 
								<TR> 
								  <TD ALIGN="LEFT" VALIGN="TOP" WIDTH="35"><IMG
									 src="/images/nav/views.gif" WIDTH="23" HEIGHT="19" BORDER="0"></TD> 
								  <TD COLSPAN="2" ALIGN="LEFT" VALIGN="TOP">You are
									 now signed into the {$c{app_title}} Administration Area<BR>
									 <IMG src="/images/clear.gif" WIDTH="1" HEIGHT="10" BORDER="0"></TD> 
								</TR> 
							 </TABLE><IMG src="/images/clear.gif" WIDTH="1"
							 HEIGHT="5" BORDER="0"><BR><INPUT TYPE="BUTTON" NAME="Button1"
								VALUE="Back to Sign In" STYLE="width:100px;" CLASS="button"
								ONCLICK="document.location='{$c{script}}';"></TD> 
						</TR> 
					 </TABLE></TD> 
				</TR> 
			 </TABLE> </TD> 
		</TR> 
	 </TABLE>

</body>