<link rel="stylesheet" href="/templates/lib.css" type="text/css">

<table border="0" cellspacing="0" cellpadding="5" align="center" height="100%">
<tr align="center">
<td colspan="3" height="20"><b>You Have Not Saved.</b></td>
</tr>
<tr align="center" valign="middle">
<td>
<input type="button" value="Cancel" onClick="window.returnValue='cancel';window.close();" name="button">
</td>
<td>
<input type="button" value="Don't Save" onClick="window.returnValue='dontsave';window.close();">
</td>
<td>
<input type="button" value="Save" onClick="window.returnValue='save';window.close();">
</td>
</tr>
</table>
