<!--#include virtual="temp_include.htm" -->
<p><b><u>Society Dates</u></b></p>
<p><a href="{$c{href}}&method=add_society_date">Add Entry</a></p>
<table border="0" cellspacing="1" cellpadding="3" bgcolor="#666666">
<tr bgcolor="#dddddd">
<td><b>Date</b></td>
<td align="right">&nbsp;</td>
<td align="right">&nbsp;</td>
</tr>
{
	my $arr = $c{org}->get_child_array('society_dates');
	foreach my $date (@$arr)
	{
		my $datest = $date->get_value('date')->get_string;
		my $id = $date->get_id;
		
		$OUT.=<<"+++";
<tr bgcolor="#FFFFFF">
<td class="tiny7" align="right">$datest</td>
<td align="right" bgcolor="#FFFFFF" class="small"><a href="$c{href}&method=delete_society_date&item_id=$id">Remove</a></td>
<td align="right" bgcolor="#FFFFFF" class="small"><a href="$c{href}&method=edit_society_date&item_id=$id">Edit</a></td>
</tr>
+++
	}
}

</table>
