<link rel="stylesheet" href="/lib/app.css" type="text/css">

<div class="panelouter" style="width:520px;"><div class="panelinner"><div class="panelbody" style="padding:8px;" align="left">
<fieldset>
<legend>Section Title</legend>
<div class="seccontent">
<!--Content Here-->
</div>
</fieldset>
<div align="right" style="padding-top:8px;">
<!--Buttons Here-->
<input type="button" name="add" value="Add" class="button" style="width:75px;" onClick="add_alias();"><img src="/images/clear.gif" width="8" height="1" border="0"><input type="button" name="edit" value="Edit" class="button" style="width:75px;" onClick="edit_alias();"><img src="/images/clear.gif" width="8" height="1" border="0"><input type="button" name="delete" value="Delete" class="button" style="width:75px;" onClick="delete_alias();">
</div>
</div></div></div>