<link rel="stylesheet" href="/lib/xtree.css" type="text/css">
<script src="/lib/xtree.js"></script>
<span id="menutree"></span>
<script>
	function get_xTree_query(query)
	\{
		var loc = href + query;
		
		top.appContent.page.frames[1].location = loc;
	\}
	
	function viewAll()
	\{
		top.appContent.page.frames[1].viewAll();
	\}
	
	function viewVenue(venue_id)
	\{
		top.appContent.page.frames[1].document.location = href + '&method=booking_report_sheet&search={$c{params}->{search}}&start_letter={$c{params}->{start_letter}}&end_letter={$c{params}->{end_letter}}#venue' + venue_id;
	\}
	
	function viewBooking(booking_id)
	\{
		top.appContent.page.frames[1].viewBooking(booking_id);
	\}

var tree = new WebFXTree('{$c{tour}->name} Booking Report Venues');
tree.action = "javascript: viewAll();";

{			
	foreach my $venue (@{$c{tour}->ensure_child_array('venue')})
	{
		my $title = $venue->get_city_title;
		my $venue_id = $venue->get_id;
		
		$title =~ s/'/\\'/g;
		
		$OUT.=<<"+++";
var venue$venue_id = new WebFXTreeItem('$title');
venue$venue_id.icon = '/images/tools/16px/resources.gif';
venue$venue_id.openIcon = '/images/tools/16px/resources.gif';
venue$venue_id.action = "javascript: viewVenue($venue_id);";

tree.add(venue$venue_id)
+++
	}
}

var tree_string = tree.toString();

document.write(tree_string);

tree.expandAll();

</script>




