  <table  border="0" cellspacing="0" cellpadding="0">
    <tr align="center">
      <td width="60"><a href="{$c{href}}&method=venue_home&start_letter=a&end_letter=b"><strong>A -&gt; B</strong></a> </td>
      <td width="60"><a href="{$c{href}}&method=venue_home&start_letter=c&end_letter=e"><strong>C -&gt; E</strong></a> </td>
      <td width="60"><a href="{$c{href}}&method=venue_home&start_letter=f&end_letter=k"><strong>F -&gt; K</strong></a> </td>
      <td width="60"><a href="{$c{href}}&method=venue_home&start_letter=l&end_letter=o"><strong>L -&gt; O</strong></a> </td>
      <td width="60"><a href="{$c{href}}&method=venue_home&start_letter=p&end_letter=s"><strong>P -&gt; S</strong></a> </td>
      <td width="60"><a href="{$c{href}}&method=venue_home&start_letter=t&end_letter=z"><strong>T -&gt; Z</strong></a> </td>	  
      </tr>
    <tr align="center">
    	<td colspan="6" height=10></td>
   	</tr>
  </table>
