<!--#include virtual="temp_include.htm" -->
<script>
	function monthClick(key)
	\{
		document.getElementById(key).click();
	\}
</script>
<body>
<span class="welcome">Timeline for {$c{tour}->name}</span><br>{$c{params}->{from}} -&gt; {$c{params}->{to}}<br><br>
<table  border="0" cellspacing="0" cellpadding="0">
{
	my $from_date = $c{tour}->{_timeline_from_date};
	my $to_date = $c{tour}->{_timeline_to_date};
	
	my $current_month;
	my $current_date = $from_date->clone;
	
	while($current_date->epoch_days<=$to_date->epoch_days)
	{
		my $month = $current_date->Month;
		my $date_title = $current_date->week_day_title.' '.$current_date->get_string;
		
		if($month!=$current_month)
		{
			$current_month = $month;
			my $month_name = Webkit::Date->get_monthname($month);
			my $year = $current_date->Year;
			my $link_name = $month.'_'.$year;
			
			$OUT.=<<"+++";
<script>
if(parent.isModal) { parent.addMonth('$link_name', '$month_name $year'); }
</script>			
  <tr>
    <td colspan=3 style="color:red;font-weight:bold;padding:5px;font-size:11pt;">$month_name $year<a href="#$link_name" id="$link_name"></a><a name="$link_name"></a></td>
  </tr>
+++
		}
		
		my $tourdates = $c{tour}->{_timeline_map}->{$current_date->epoch_days};
		
		if(!$tourdates)
		{		
			$OUT.=<<"+++";
  <tr>
    <td width=19><img src="/images/xtree/T.gif" width="19" height="16" align="absmiddle"></td>
	<td width=19><img src="/images/xtree/horiz.gif" width="19" height="16" align="absmiddle"></td>
    <td style="color:#888888;">&nbsp;$date_title</td>
  </tr>		
+++
		}
		else
		{
			$OUT.=<<"+++";
<tr>
<td width=19><img src="/images/xtree/I.gif" width="19" height="16"></td>
</tr>
  <tr>
    <td><img src="/images/xtree/T.gif" width="19" height="16" align="absmiddle"></td>
	<td width=19><img src="/images/xtree/default.16.png" width="16" height="16"></td>	
    <td>&nbsp;$date_title</td>
  </tr>	
+++
			foreach my $tourdate (@$tourdates)
			{
				my $tour = $c{org}->get_child('tour', $tourdate->tour_id);
				my $venue = $c{tour}->get_child('venue', $tourdate->{data}->{venue_id});
				
				my $venue_name = $venue->get_city_title;
				my $tour_name = $tour->name;
				my $date_title = $tourdate->get_datetime_title;
				
				my $icon;
				my $date_style;
				
				if($tourdate->showing_id>0)
				{
					$icon = '/images/holiday/tick.gif';
					$date_style = 'color:green;';
				}
				else
				{
					$icon = '/images/holiday/cross.gif';
					$date_style = 'color:red;';
				}
				
				$OUT.=<<"+++";
<tr>
<td width=19 height="32" background="/images/xtree/I.gif"></td>
<td width=19 align="center" valign="middle"><img width=14 height=14 src="$icon"></td>
<td valign="middle">
  <table border=0 cellpadding=3 cellspacing=1 bgcolor="#e5e5e5">
<tr valign="top" bgcolor="#FFFFFF">
<td width="200">$venue_name</td>
<td width="120" style="$date_style">$date_title</td>
<td width="100" style="color:blue;">$tour_name</td>
</tr>
</table>
</td>
</tr>
+++
			}
			
			$OUT.=<<"+++";
<tr>
<td width=19><img src="/images/xtree/I.gif" width="19" height="16"></td>
</tr>
+++
		}
		
		$current_date->epoch_days(1);
	}
}
</table>
<script>
if(parent.isModal) \{ parent.writeMonthSelect(); \}
</script>
</body>
</html>



