<link rel="stylesheet" href="/lib/xtree.css" type="text/css">
<script src="/lib/xtree.js"></script>
<span id="menutree"></span>
<script>
	function get_xTree_query(query)
	\{
		var loc = href + query;
		top.content.page.content.location = loc;
	\}

var tree = new WebFXTree('Threads / Activities');
tree.action = "javascript: get_xTree_query('&method=activity_home');";

{	
	foreach my $set (@{$c{set_array}})
	{
		my $set_id = $set->get_id;
		my $set_name = $set->js_name;
		
		$OUT.=<<"+++";
var set$set_id = new WebFXTreeItem('$set_name');
set$set_id.action = "javascript: get_xTree_query('&method=set_form&set_id=$set_id');";		
+++

		my $thread_array = $set->ensure_child_array('thread');
		
		my $count = @$thread_array;
		
		$OUT.=<<"+++";
tree.add(set$set_id);
+++

		foreach my $thread (@$thread_array)
		{
			my $thread_id = $thread->get_id;
			my $thread_name = $thread->name;

			$thread_name =~ s/'/\\'/g;
		
			my $activity_array = $thread->get_child_array('activity');		
			my $variation_thread_array = $thread->get_child_array('thread');					

			$OUT.=<<"+++";
var thread$thread_id = new WebFXTreeItem('$thread_name');
thread$thread_id.action = "javascript: get_xTree_query('&method=thread_form&thread_id=$thread_id');";

set$set_id.add(thread$thread_id);
+++

			foreach my $vthread (@$variation_thread_array)
			{
				my $vthread_id = $vthread->get_id;
				my $vthread_name = $vthread->name;
				my $website = $c{org}->get_child('website', $vthread->website_id);

				$vthread_name =~ s/'/\\'/g;
				
				$vthread_name .= ' - '.$website->name.' Variation';
	
				$OUT.=<<"+++";
var thread$vthread_id = new WebFXTreeItem('$vthread_name');
thread$vthread_id.action = "javascript: get_xTree_query('&method=thread_form&thread_id=$vthread_id');";
thread$thread_id.add(thread$vthread_id);
+++
			}
		
			foreach my $activity (@$activity_array)
			{
				my $id = $activity->get_id;
				my $name = $activity->name;
				my $vactivity_array = $activity->get_child_array('activity');						

				$name =~ s/'/\\'/g;

				$OUT.=<<"+++";
var activity$id = new WebFXTreeItem('$name');
activity$id.action = "javascript: get_xTree_query('&method=activity_form&activity_id=$id');";
activity$id.icon = '/images/icons/16/instructions.gif';
activity$id.openIcon = '/images/icons/16/instructions.gif';
thread$thread_id.add(activity$id);
+++

				foreach my $vactivity (@$vactivity_array)
				{
					my $vid = $vactivity->get_id;
					my $vname = $vactivity->name;
					my $website = $c{org}->get_child('website', $vactivity->website_id);					

					$vname =~ s/'/\\'/g;
					
					$vname .= ' - '.$website->name.' Variation';

					$OUT.=<<"+++";
var activity$vid = new WebFXTreeItem('$vname');
activity$vid.action = "javascript: get_xTree_query('&method=activity_form&activity_id=$vid');";
activity$vid.icon = '/images/icons/16/instructions.gif';
activity$id.add(activity$vid);
+++
				}
			}
		}
	}
}

var tree_string = tree.toString();

document.write(tree_string);

//tree.expandAll();

</script>



