<!--#include virtual="temp_include.htm" -->
<script>
	function changeMode(checkboxObj)
	\{
		if(checkboxObj.value=='whole')
		\{
			document.getElementById('messageTable').style.display = 'block';
			document.getElementById('infoTable').style.display = 'none';
		\}
		else
		\{
			document.getElementById('messageTable').style.display = 'none';
			document.getElementById('infoTable').style.display = 'block';
		\}
	\}
</script>
<body>
<form action="{$c{href}}" method="POST" name="flattenForm">
<input type="hidden" name="session_id" value="{$c{session_id}}">
<input type="hidden" name="method" value="download_flat_website_submit">
<table border="0" align="center" cellpadding="20" cellspacing="0" style="display:inline;" id="mainTable">
<tr valign="top">
<td height="100%" align="center">


<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" CLASS="panelouter">
<TR>
<TD>
<TABLE WIDTH="100%" BORDER="0" CELLPADDING="8" CELLSPACING="0" CLASS="panelinner">
<TR>
<TD CLASS="panelbody">
<fieldset style="height:100%;">
<TABLE BORDER="0" CELLPADDING="3" CELLSPACING="0">
<TR style="padding-bottom:5px;">
<TD width="100" ALIGN="LEFT" VALIGN="MIDDLE" nowrap style="padding-right:5px;">URL of school:</TD>
<TD width="500" ALIGN="LEFT" VALIGN="MIDDLE"><input name="url" type="text" class="text_field" id="url" style="width:100%;" onFocus="this.className='text_field2';" onBlur="this.className='text_field';" value="{$c{params}->{url}}">
</TD>
</TR>
<TR style="padding-bottom:5px;">
<TD ALIGN="LEFT" VALIGN="MIDDLE" nowrap style="padding-right:5px;">Mode:</TD>
<TD ALIGN="LEFT" VALIGN="MIDDLE"><select name="select"class="text_field" style="width:100%;" onChange="changeMode(this);">
<option value="whole" selected>Flatten Whole Website</option>
<option value="part">Select Invidual Activities</option>
</select></TD>
</TR>
<TR style="padding-bottom:5px;">
<TD colspan="2" ALIGN="LEFT" VALIGN="top" nowrap style="padding-right:5px;">
<table width="100%"  border="0" cellspacing="1" cellpadding="0" id="messageTable">
<tr>
<td width="100" align="left" valign="top">&nbsp;</td>
<td>&nbsp;</td>
</tr>
</table>
</TD>
</TR>
<TR>
<TD colspan="2" ALIGN="LEFT" VALIGN="top" nowrap style="padding-right:5px;">

<table width="100%"  border="0" cellspacing="1" cellpadding="0" id="infoTable" style="display:none;">
<tr>
<td><b>Check the activities to include:</b></td>
</tr>
{
	foreach my $set (@{$c{org}->ensure_child_array('thread_set')})
	{
		my $name = $set->name;
		
		$OUT.=<<"+++";
<tr>
<td><b>$name</b></td>
</tr>
+++

		foreach my $thread (@{$set->ensure_child_array('thread')})
		{
			my $threadname = $thread->name;
			my $id = $thread->get_id;
			
			$OUT.=<<"+++";
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="include$id" id="include$id" value="yes"><b>$threadname</b></td>
</tr>		
+++
		}
	}
}
</table>

</TD>
</TR>
<TR>
<TD colspan="2" ALIGN="LEFT" VALIGN="top" nowrap style="padding-right:5px;">&nbsp;</TD>
</TR>
<TR align="right">
<TD colspan="2" VALIGN="top" nowrap style="padding-right:5px;"><input type="submit" name="Submit" value="Flatten!"></TD>
</TR>
</TABLE>
</fieldset>



</TD>
</TR>
</TABLE>
</TD>
</TR>
</TABLE>

</td>
</tr>
</table>
<table border=0 cellpadding="0" cellspacing="0" id="messageTable" style="display:none;">
<tr>
<td style="color:#CC0000;">
Uploading, please wait...
</td>
</tr>
</table>
</form>
</body>
</html>



