<!--#include virtual="temp_include.htm" -->
<script>
	
	function validateSupplierForm()
	\{
		var form = document.supplier_form;
		
		if(form.name.value=="")
		\{
			alert('Please enter a name for the supplier');
			return false;
		\}

		return true;
	\}
	
</script>
<body>
<table cellpadding="20" cellspacing="0" border="0" width="100%" height="100%">
<tr>
<td height="100%" align="center" valign="middle"><table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0">
<tr valign="top">
<td width="50%" height="100%" align="center">
<form action="{$c{script}}" method="POST" name="supplier_form" onSubmit="return validateSupplierForm();" style="margin:0px;padding:0px;">
<input type="hidden" name="session_id" value="{$c{session_id}}">
<input type="hidden" name="method" value="supplier_issue_codes_submit">
<input type="hidden" name="supplier_id" value="{$c{supplier}->get_id}">
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" CLASS="panelouter">
<TR>
<TD>
<TABLE WIDTH="100%" BORDER="0" CELLPADDING="8" CELLSPACING="0" CLASS="panelinner">
<TR>
<TD CLASS="panelbody">
<fieldset style="height:100%;">
<legend>Issue Serial Numbers To Supplier </legend>
<div class="seccontent" align="left">

<TABLE width="400" BORDER="0" CELLPADDING="5" CELLSPACING="0">
  <TR style="padding-bottom:5px;"> 
    <TD width="80" ALIGN="LEFT" VALIGN="MIDDLE" nowrap style="padding-right:5px;">For Supplier:</TD>
    <TD ALIGN="LEFT" VALIGN="MIDDLE"> 
{$c{supplier}->name}
  </TD>
  </TR>
  <TR style="padding-bottom:5px;"> 
    <TD ALIGN="LEFT" VALIGN="MIDDLE" style="padding-right:5px;" nowrap>Date Issued:</TD>
    <TD ALIGN="LEFT" VALIGN="MIDDLE" width="100%"> 
      <input name="date_issued" type="text" class="text_field" id="date_issued" style="width:100%;" onFocus="this.className='text_field2';" onBlur="this.className='text_field';" value="{$c{now_date}}">
    </TD>
  </TR>     
  <TR style="padding-bottom:5px;"> 
    <TD ALIGN="LEFT" VALIGN="MIDDLE" style="padding-right:5px;" nowrap>Number Required:</TD>
    <TD ALIGN="LEFT" VALIGN="MIDDLE" width="100%"> 
      <input name="number" type="text" class="text_field" id="number" style="width:100%;" onFocus="this.className='text_field2';" onBlur="this.className='text_field';" value="{$c{params}->{number}||0}">
    </TD>
  </TR>   
  <TR style="padding-bottom:5px;"> 
    <TD width="80" ALIGN="LEFT" VALIGN="MIDDLE" nowrap style="padding-right:5px;">For Product:</TD>
    <TD ALIGN="LEFT" VALIGN="MIDDLE"> 
<select name="product_id" size="1" class="text_field" id="product_id" style="width:100%;">
{$c{org}->get_cd_product_options($c{params}->{product_id})}
</select>
</TD>
  </TR>
  <TR style="padding-bottom:5px;"> 
    <TD width="80" ALIGN="LEFT" VALIGN="MIDDLE" nowrap style="padding-right:5px;">Licence Code:</TD>
    <TD ALIGN="LEFT" VALIGN="MIDDLE"> 
<select name="licence_code" size="1" class="text_field" id="licence_code" style="width:100%;">
{Webkit::EB::SerialNumber->get_licence_options($c{params}->{licence_code})}

</select>
</TD>
  </TR> 
  <tr>
  <td height=20></td></tr>
  <TR style="padding-bottom:5px;"> 
    <TD width="80" ALIGN="LEFT" VALIGN="top" nowrap style="padding-right:5px;">Manual Serials:<br>
<br>
(one per line) </TD>
    <TD ALIGN="LEFT" VALIGN="MIDDLE"><textarea name="manual_serials" type="text" class="text_field" id="manual_serials" style="width:100%;height:120px;" onFocus="this.className='text_field2';" onBlur="this.className='text_field';">{$c{params}->{manual_serials}}</textarea></TD>
  </TR>   
</TABLE>

</div>
</fieldset>

<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
<TR>
<TD ALIGN="LEFT" VALIGN="MIDDLE"><span style="color:#880000;" id="error_span">{$c{error_text}}</span></TD>
<TD ALIGN="RIGHT" VALIGN="MIDDLE"><input type="submit" name="Submit" value="Create Codes" CLASS="button2" style="width:75px;"><input type="button"  value="Cancel" CLASS="button2" style="width:75px;" onClick="history.back();"></TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>
</TD>
</TR>
</TABLE>
</form>

</td>
</tr>
</table>

</td>
</tr>
</table>
</body>
</html>



