<HTML> 
  <HEAD> 
	 <TITLE></TITLE>
<STYLE TYPE="text/css">
body {background:#D4D0C8; border:0px;}
.buttonouter {border-left:#FFFFFF 1px solid; border-right:#808080 1px solid; border-top:#FFFFFF 1px solid; border-bottom:#808080 1px solid;}
.buttonoff {border-left:#D4D0C8 1px solid; border-right:#D4D0C8 1px solid; border-top:#D4D0C8 1px solid; border-bottom:#D4D0C8 1px solid; }
</STYLE>
  </HEAD> 
  <BODY LEFTMARGIN="0" TOPMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0"> 
	 <TABLE WIDTH="100%" BORDER="0" CELLPADDING="2" CELLSPACING="0" STYLE="border-bottom:1px #808080 solid; border-top:1px #808080 solid;" HEIGHT="100%"> 
		<TR> 
		  <TD WIDTH="100%" HEIGHT="100%" STYLE="font-family:tahoma,verdana; font-size:11px; color:#000000; border-top:1px #FFFFFF solid;">&nbsp;View</TD> 
		  <TD STYLE="border-top:1px #FFFFFF solid;"><IMG onClick="parent.reset_log();" SRC="/images/menus/close.gif" BORDER="0" onMouseOver="this.className='buttonouter';" onMouseOut="this.className='buttonoff';" CLASS="buttonoff" ></TD>
		</TR> 
	 </TABLE></BODY>
</HTML>