<!--#include virtual="temp_include.htm" -->

<body>
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
<tr>
<td width="100%" height="100%" align="center" valign="middle">
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" CLASS="panelouter">
<TR>
<TD>
<TABLE WIDTH="100%" BORDER="0" CELLPADDING="8" CELLSPACING="0" CLASS="panelinner">
<TR>
                <TD CLASS="panelbody">
<table width="600" border=1>
                    <tr>
                      <td width="1"><b>Date</b></td>
                      <td>{$c{message}->get_formatted_date}</td>
</tr>
<tr>
<td><b>Subject</b></td><td>{$c{message}->subject}</td>
</tr>
<tr>
<td><b>From</b></td><td>{$c{message}->get_from_string}</td>
</tr>
<tr>
<td><b>To</b></td><td>{$c{message}->get_to_string}</td>
</tr>
<tr>
<td><b>Cc</b></td><td>{$c{message}->get_cc_string}</td>
</tr>
<tr>
<td><b>Attachments</b></td><td>
<table width=100% border=0>
{
	foreach my $attachment (@{$c{message}->{attachments}})
	{
		my $filename = $attachment->{filename};
		my $mime = $attachment->{mime_type};
		my $size = $attachment->{size};
		my $id = $attachment->{id};
		
		my $href = $c{href};
		
		my $message_id = $c{message}->get_id;
		
		$href.="&method=email_view_attachment&message_id=$message_id&attachment_id=$id";

		$OUT.=<<"+++";
<tr><td>
$filename ($mime) = $size bytes </td><td align=right width=1><a href="$href">View</a>
</td></tr>
+++
	}
}

</table>
</td>
</tr>
<tr><td height=20></td></tr>
<tr>
                      <td height="17" colspan=2>{$c{message}->message_text}</td>
</tr>
</table>				
				
				 <br>
                  <IMG src="/images/layout/clear.gif" WIDTH="1" HEIGHT="8" BORDER="0"><BR>
                  <input type="button" value="View Inbox" onClick="document.location = href + '&method=email_inbox';"> </TD>
</TR>
</TABLE>
</TD>
</TR>
</TABLE>

</td>
</tr>
</table>
</body>
</html>



