<html>
<head>
<META HTTP-EQUIV="MSThemeCompatible" Content="no">

        <title>Site Manager</title>        
	<script src="/lib/kit.js"></script>
        <script>
		var href = '/apps/sitemanager.app?session_id=4ceed0fa8b5edce4d096f7f04e39f722';
        </script>
<link rel="stylesheet" href="/lib/app.css" type="text/css">
</head>
<!--#include virtual="temp_include.htm" -->




</html>

<script>
if(document.getElementById('loadingdiv'))
{
	document.getElementById('loadingdiv').style.display = 'none';
}
</script>
