<style type="text/css">
body {background:#FFFFFF;}
</style>
<span id="loading_table" style="position:absolute;width:99%;height:99%left:0;top0;text-align:center;vertical-align:middle;backgound-color:#ffffff;">
<br><br><br><br><br><br><br><br>
<TABLE WIDTH="108" HEIGHT="76" BORDER="0" CELLPADDING="0" CELLSPACING="0" STYLE="BACKGROUND-COLOR:#D4D0C8; BORDER-BOTTOM:#404040 solid 1px; BORDER-LEFT:#D4D0C8 solid 1px; BORDER-RIGHT:#404040 solid 1px; BORDER-TOP: #D4D0C8 solid 1px;">
<TR> 
  <TD ALIGN="CENTER" VALIGN="MIDDLE" STYLE="BORDER-BOTTOM: #808080 solid 1px; BORDER-LEFT: #FFFFFF solid 1px; BORDER-RIGHT: #808080 solid 1px; BORDER-TOP:  #FFFFFF solid 1px;"><IMG SRC="/images/logos/rk_loading.gif" WIDTH="80" HEIGHT="46"></TD> 
</TR> 
</TABLE>
<br><br><br>
</span>
<script>
	function hide_loading_table()
	{
		document.all('loading_table').style.display = 'none';
	}

	document.all('loading_table').style.width = document.body.clientWidth - 20;
	document.all('loading_table').style.height = document.body.clientHeight - 30;

</script>