<html>
<head>
<title>Fun</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript">
<!--



function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>

<link href="/festivals.css" rel="stylesheet" type="text/css">
<link href="file:///C|/work/wwwf/festivals.css" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#FFFFFF" text="#000000" style="padding:0px;margin:0px" bgproperties="fixed">
<div align="center">
  
  <table width="611" border="0" cellpadding="5" align="center">
    <tr> 
      <td width="645" align="center" valign="top"><font face="Arial, Helvetica, sans-serif" size="6"><b></b></font> 
        <div align="left"> 
          <table width="500" border="0" align="center" cellpadding="3" cellspacing="0">
            <tr align="center" valign="middle"> 
              <td>&nbsp;</td>
              <td class="timesheader">{$c{name}} Hiscores</td>
              <td>&nbsp;</td>
            </tr>
          </table>
          
        </div></td>
    </tr>
    <tr> 
      <td width="645" align="center" valign="top"> 
        <table width="100%" border="0" align="center" cellpadding="3" cellspacing="0" bgcolor="#000066">
          <tr> 
            <td align="center" valign="top"> 
              <table width="100%" border="0" cellpadding="3" cellspacing="0" bgcolor="#FFFFFF">
                <tr bgcolor="#000066"> 
                  <td width="10%" align="center" valign="middle"><img src="../images/tinystarw.jpg" width="21" height="20"></td>
                  <td align="left" valign="middle" class="white14">Name</td>
                  <td width="27%" align="left" valign="middle" class="white14">Score</td>
                  <td width="26%" align="left" valign="middle" class="white14">Date</td>
                </tr>
                <tr> 
                  <td width="10%" height="31" align="center" valign="middle"><img src="../images/tinystar.jpg" width="21" height="20"></td>
                  <td align="left" valign="middle" class="times12b">{$name}</td>
                  <td align="left" valign="middle" class="times12b">{$score}</td>
                  <td align="left" valign="middle" class="times12b">{$date}</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td height="29" align="center" valign="top"><a href="../test.htm">Play Again 
        &gt;&gt;&gt;</a></td>
    </tr>
    <tr>
      <td height="29" align="center" valign="top"><a href="../test.htm"> X Close 
        this window X</a></td>
    </tr>
  </table>
</div>
</body>
</html>
