<form method="GET" action="">
<input type="hidden" name="method" value="calendar_entry_home">
<input type="hidden" name="session_id" value="3e88600df75cd897fd41d1015741c1cd">

<style>
.calendar_table {width:600px; border-left:3px solid #404040; border-top:2px solid #404040; border-bottom:2px solid #404040; border-right:2px solid #404040; background-color:#FFFFFF; padding:3px;}
.calendar_title {background-color:#404040; padding-left:7px; font-variant:small-caps; font-family:tahoma,arial,verdana; font-size:13px; font-weight:bold; color:#FFFFFF;}
.calendar_select_td {background-color:#404040;}
.calendar_select {font-family:tahoma,arial,verdana; font-size:11px; color:#000000; margin-bottom:2px;}
.calendar_day {border-left:#FFFFFF 1px solid; border-right:#808080 1px solid; border-top:#FFFFFF 1px solid; border-bottom:#808080 1px solid; width:14%; font-family:tahoma,arial,verdana; font-size:11px; color:#000000; font-weight:normal; padding-bottom:3px; padding-top:3px; background-color:#D4D0C8;}
.calendar_date {cursor:default; font-family:tahoma,arial,verdana; font-size:11px; font-weight:normal; color:#000000; border-bottom:1px solid #808080; border-right:1px solid #808080;}
.calendar_today {background-color:#FFFFFF; color:#CC0000; cursor:default; font-family:tahoma,arial,verdana; font-size:11px; font-weight:bold; border-bottom:1px solid #808080; border-right:1px solid #808080;}
.calendar_entry_outer {width:100%; padding:1px; margin-top:2px;}
.calendar_entry_inner {background-color:#FFFFFF; text-align:left; padding-left:3px; padding-top:1px; padding-right:3px; padding-bottom:1px; width:100%; margin-right:5px; font-family:tahoma,arial,verdana; font-weight:normal; font-size:11px; color:#000000;}
</style>

<table border=0 cellpadding=0 cellspacing=0 class="calendar_table">
	<tr>
		<td align="left" colspan="4" class="calendar_title">April 2003</td>
		<td colspan="3" align="right" class="calendar_select_td">
		<select name="month" id="month" class="calendar_select">
		<option value="1">January</option>
		<option value="2">February</option>
		<option value="3">March</option>
		<option value="4" SELECTED>April</option>
		<option value="5">May</option>
		<option value="6">June</option>
		<option value="7">July</option>
		<option value="8">August</option>
		<option value="9">September</option>
		<option value="10">October</option>
		<option value="11">November</option>
		<option value="12">December</option>
		</select>
		<select name="year" id="year" class="calendar_select">
		<option value="2000">2000</option>
		<option value="2001">2001</option>
		<option value="2002">2002</option>
		<option value="2003" SELECTED>2003</option>
		<option value="2004">2004</option>
		<option value="2005">2005</option>
		<option value="2006">2006</option>
		<option value="2007">2007</option>
		<option value="2008">2008</option>
		<option value="2009">2009</option>
		<option value="2010">2010</option>
		</select>
		</td>
	</tr>
	<tr align="center">
		<td class="calendar_day">Monday</td>
		<td class="calendar_day">Tuesday</td>
		<td class="calendar_day">Wednesday</td>
		<td class="calendar_day">Thursday</td>
		<td class="calendar_day">Friday</td>
		<td class="calendar_day">Saturday</td>
		<td class="calendar_day">Sunday</td>
	</tr>
	<tr align="right" valign="top">
		<td class="calendar_date">&nbsp;</td>
		<td class="calendar_date">1</td>
		<td class="calendar_date">2</td>
		<td class="calendar_date">3</td>
		<td class="calendar_date">4</td>
		<td class="calendar_date">5</td>
		<td class="calendar_date">6</td>
	</tr>
	<tr align="right" valign="top">
		<td class="calendar_date">7</td>
		<td class="calendar_date">8</td>
		<td class="calendar_date">9</td>
		<td class="calendar_date">10</td>
		<td class="calendar_date">11</td>
		<td class="calendar_today">12
		<div onClick="select_entry(1);" title="A Large scale competition" class="calendar_entry_outer" style="background-color:#00CC00;"><div class="calendar_entry_inner">April Event</div></div>
		<div onClick="select_entry(2);" title="A Large scale competition" class="calendar_entry_outer" style="background-color:#0000FF;"><div class="calendar_entry_inner">April Event</div></div>
		</td>
		<td class="calendar_date">13</td>
	</tr>
	<tr align="right" valign="top">
		<td class="calendar_date">14</td>
		<td class="calendar_date">15</td>
		<td class="calendar_date">16</td>
		<td class="calendar_date">17</td>
		<td class="calendar_date">18</td>
		<td class="calendar_date">19</td>
		<td class="calendar_date">20</td>
	</tr>
	<tr align="right" valign="top">
		<td class="calendar_date">21</td>
		<td class="calendar_date">22</td>
		<td class="calendar_date">23</td>
		<td class="calendar_date">24</td>
		<td class="calendar_date">25</td>
		<td class="calendar_date">26</td>
		<td class="calendar_date">27</td>
	</tr>
	<tr align="right" valign="top">
		<td class="calendar_date">28</td>
		<td class="calendar_date">29</td>
		<td class="calendar_date">30</td>
		<td class="calendar_date">&nbsp;</td>
		<td class="calendar_date">&nbsp;</td>
		<td class="calendar_date">&nbsp;</td>
		<td class="calendar_date">&nbsp;</td>
	</tr>
</table>
</form>