<!--#include virtual="temp_include.htm" -->

<script>

	function do_cancel()
	\{
		var cancel_method = '{$c{cancel_method}}';
		
		if(cancel_method!='')
		\{
			var new_loc = href + '&method=' + cancel_method;
			
			document.location = new_loc;
		\}
	\}

	function validate_newsform()
	\{
		var ret = true;
		var form = document.newsform;
		var required_texts = new Array('title');

		for(var i=0; i<required_texts.length; i++)
		\{
			var field = required_texts[i];
			var value = form[field].value;

			if(value=='')
			\{
				form_error('You must supply a ' + field + ' value.');
				form[field].className = 'text_field2';
				ret = false;
			\}
		\}

		return ret;
	\}
	
	function form_error(text)
	\{
		document.all('error_span').innerText = text;
	\}

</script>

<form method="POST" action="{$c{script}}" style="margin:0;" name="newsform" onSubmit="return validate_newsform();">
<input type="hidden" name="session_id" value="{$c{session_id}}">
<input type="hidden" name="method" value="{$c{submit_method}}">
<input type="hidden" name="news_id" value="{$c{news}->get_id}">
	 <TABLE WIDTH="100%" BORDER="0" CELLPADDING="0" CELLSPACING="0"
		HEIGHT="100%">
		<TR id="form_tr" style="display: inline;">
		 <TD HEIGHT="100%" WIDTH="100%" ALIGN="CENTER" VALIGN="MIDDLE">
			<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" CLASS="panelouter">
			 <TR>
				<TD>
				 
<TABLE WIDTH="480" BORDER="0" CELLPADDING="8" CELLSPACING="0" CLASS="panelinner">
<TR>
<TD CLASS="panelbody">

<fieldset>
<legend>News Details</legend>
<div class="seccontent">
<table border="0" cellpadding="0" cellspacing="0">
<tr style="padding-bottom:5px;"> 
<td align="RIGHT">Title:&nbsp;</td>
<td align="LEFT" width="100%"><input onFocus="this.className='text_field2';" onBlur="this.className='text_field';" class="text_field" type="TEXT" name="title" value="{$c{news}->get_value('title')}" style="width:100%;"></td>
</tr>
<tr style="padding-bottom:5px;">
<td align="RIGHT">Position:&nbsp;</td>
<td align="LEFT"><select id="search_client_id" size="1" style="width:100%;" class="text_field" name="position">{$c{position_options}}</select>
</td>
</tr>
<tr valign="top">
<td align="RIGHT" style="padding-top:4px;">Content:&nbsp;</td>
<td align="LEFT" colspan="3"><textarea onFocus="this.className='text_field2';" onBlur="this.className='text_field';" class="text_field" name="content" style="width:100%; height:160px;">{$c{news}->get_value('content')}</textarea></td>
</tr>
</table>
</div>
</fieldset>
<IMG src="/images/clear.gif" WIDTH="1" HEIGHT="8" BORDER="0"><BR>
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" ALIGN="RIGHT" WIDTH="100%">
<TR>
<TD ALIGN="LEFT" VALIGN="TOP"><font color="red"><b id="error_span">{$c{news}->{error_text}}</b></font></TD>
<TD ALIGN="RIGHT" VALIGN="TOP">
<INPUT TYPE="submit" VALUE="{$c{submit_title}}" CLASS="button" STYLE="width:75px;"><IMG src="/images/clear.gif" WIDTH="8" HEIGHT="1" BORDER="0"><input type="button" value="Cancel" class="button" name="Button" onClick="do_cancel();" STYLE="width:75px;"></TD>
</TR>
</TABLE>

</TD>
					</TR>
				 </TABLE></TD>
			 </TR>
			</TABLE>
</TD>
		</TR>
	 </TABLE>
</form>

