<link rel="stylesheet" href="/lib/xtree.css" type="text/css">
<script src="/lib/xtree.js"></script>
<span id="menutree"></span>
<script>
	function get_xTree_query(query)
	\{
		var loc = href + query;
		
		top.content.page.location = loc;
	\}	
	
	function viewSchool(id)
	\{
		get_xTree_query('&method=visitors_school_home&school_id=' + id);
	\}
	
	function viewAllTargets()
	\{
		var newLoc = '/htmlhub/frames_double_content?session_id=' + session_id + '&title=_visitors_group_targets_toolbar&title_height=135&method=visitors_group_targets_home&appname=skillsaudit';
		
		top.content.page.location = newLoc;
	\}
	
	function viewAllTimeline()
	\{
		var newLoc = '/htmlhub/frames_double_content?session_id=' + session_id + '&title=_visitors_group_timeline_toolbar&title_height=160&method=visitors_group_timeline_home&appname=skillsaudit';	
		
		top.content.page.location = newLoc;
	\}
	
	function viewAllQuestions()
	\{
		var newLoc = '/htmlhub/frames_double_content?session_id=' + session_id + '&title=_visitors_group_questions_toolbar&title_height=135&method=visitors_group_questions_home&appname=skillsaudit';		
		
		top.content.page.location = newLoc;
	\}
	
	function viewAllICT()
	\{
		var newLoc = '/htmlhub/frames_double_content?session_id=' + session_id + '&title=_visitors_group_ict_toolbar&title_height=105&method=visitors_group_ict_home&appname=skillsaudit';		
		
		top.content.page.location = newLoc;
	\}	
	
	function viewAllPeople()
	\{
		var newLoc = '/htmlhub/frames_double_content?session_id=' + session_id + '&title=_visitors_group_people_toolbar&title_height=160&method=visitors_group_people_home&appname=skillsaudit';		
		
		top.content.page.location = newLoc;
	\}		

var tree = new WebFXTree('All Schools');
tree.action = "javascript: get_xTree_query('&method=schools_home');";

var allTargets = new WebFXTreeItem('LA Targets');
allTargets.action = "javascript: viewAllTargets();";
allTargets.icon = '/images/skillsaudit/adminmenu/targets.gif';

tree.add(allTargets);

var allTimeline = new WebFXTreeItem('LA Timeline');
allTimeline.action = "javascript: viewAllTimeline();";
allTimeline.icon = '/images/skillsaudit/adminmenu/timeline.gif';

tree.add(allTimeline);

var allQuestions = new WebFXTreeItem('All Feedback');
allQuestions.action = "javascript: viewAllQuestions();";
allQuestions.icon = '/images/skillsaudit/adminmenu/questionanalysis.gif';

tree.add(allQuestions);

var allICT = new WebFXTreeItem('All KS3 & KS4');
allICT.action = "javascript: viewAllICT();";
allICT.icon = '/images/skillsaudit/adminmenu/ict.gif';

tree.add(allICT);

var allPeople = new WebFXTreeItem('Find People & Schools');
allPeople.action = "javascript: viewAllPeople();";
allPeople.icon = '/images/skillsaudit/adminmenu/findindividuals.gif';

tree.add(allPeople);

{
	my $current_letter;
	my $current_city;
	
	foreach my $school (@{$c{org}->ensure_child_array('school')})
	{		
		my $city_name = lc($school->city);
		$city_name =~ s/\W//g;
		
		$school->city =~ /^(\w)/;
		my $city_letter = lc($1);		
		
		if($city_letter ne $current_letter)
		{
			$current_letter = $city_letter;
			$current_city = '';
			
			my $letter = uc($current_letter);
			
			$OUT.=<<"+++";
var letter$current_letter = new WebFXTreeItem('$letter');

tree.add(letter$current_letter);
+++
		}
		
		if($city_name ne $current_city)
		{
			$current_city = $city_name;
			my $city_title = $school->city;
			
			$OUT.=<<"+++";
var city$current_city = new WebFXTreeItem('$city_title');

letter$current_letter.add(city$current_city);
+++
		}
		
		my $id = $school->get_id;
		my $name = $school->name;
		$name =~ s/'/\\'/g;
		my $count = $school->{data}->{visitor_count};
		
		$OUT.=<<"+++";
var school$id = new WebFXTreeItem('$name Visitors - ( $count )');
school$id.action = "javascript: viewSchool($id);";
school$id.icon = '/images/skillsaudit/people_24.gif';

city$current_city.add(school$id);
+++
	}
}

var tree_string = tree.toString();

document.write(tree_string);

</script>



