<!--#include virtual="temp_include.htm" -->
<script>
	function validate_visitor_form()
	\{
		var form = document.visitor_form;

		if(form.name.value=="")
		\{
			document.getElementById('error_span').innerText = 'Please enter a name for the visitor';

			return false;
		\}
		
		if(form.new_pin_number1.value!="")
		\{
			var pin1 = form.new_pin_number1.value;
			var pin2 = form.new_pin_number2.value;
			
			if(pin1!=pin2)
			\{
				document.getElementById('error_span').innerText = 'The two PIN numbers you have entered do not match';
				
				return false;
			\}
		\}
		else
		\{
			if(form.visitor_id.value=="")
			\{
				document.getElementById('error_span').innerText = 'Please enter a PIN number for this visitor';
				
				return false;			
			\}
		\}
		
		if(form.email_address.value=="")
		\{
			document.getElementById('error_span').innerText = 'Please enter a Email Address for the visitor';

			return false;
		\}		
		

		return true;
	\}
</script>

<body>
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
<tr>
<td width="100%" height="100%" align="center" valign="middle">

<form name="visitor_form" method="POST" action="{$c{script}}" onSubmit="return validate_visitor_form();">
<input type="hidden" name="session_id" value="{$c{session_id}}">
<input type="hidden" name="method" value="visitor_form_submit">
<input type="hidden" name="visitor_id" value="{$c{visitor}->get_id}">
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" CLASS="panelouter">
<TR>
<TD>
<TABLE WIDTH="100%" BORDER="0" CELLPADDING="8" CELLSPACING="0" CLASS="panelinner">
<TR>
<TD CLASS="panelbody">

<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0"><TR>
                        <TD COLSPAN="2" ALIGN="LEFT" BACKGROUND="/images/layout/panelt.gif" HEIGHT="13"><IMG src="/images/layout/paneltl.gif" BORDER="0" WIDTH="7" HEIGHT="13" ALIGN="ABSMIDDLE"><FONT CLASS="section_title"
>&nbsp;School Details&nbsp;</FONT></TD>
                        <TD WIDTH="2" HEIGHT="13" VALIGN="TOP"><IMG src="/images/layout/paneltr.gif" BORDER="0" WIDTH="2" HEIGHT="13"></TD></TR><TR><TD WIDTH="2" BACKGROUND="/images/layout/panell.gif"><IMG src="/images/layout/clear.gif" WIDTH="2" HEIGHT="1" BORDER="0"></TD><TD WIDTH="100%"><TABLE WIDTH="100%" BORDER="0" CELLPADDING="8" CELLSPACING="0"><TR><TD>

                                <TABLE BORDER="0" CELLPADDING="4" CELLSPACING="0">
                                  <TR> 
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE">School:</TD>
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE"> 
                                      {$c{school}->name}
                                    </TD>
                                  </TR>								  							
                                  <TR> 
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE">Name:</TD>
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE"> 
                                      <input type="text" name="name" value="{$c{visitor}->name}" onFocus="this.className='text_field2';" onBlur="this.className='text_field';" class="text_field" style="width:250px;">
                                    </TD>
                                  </TR>		
                                  <TR> 
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE" colspan=2 height=15></TD>
                                  </TR>			
								    <TR> 
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE">Email Address:</TD>
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE"> 
                                      <input name="email_address" type="text" class="text_field" id="email_address" style="width:250px;" onFocus="this.className='text_field2';" onBlur="this.className='text_field';" value="{$c{visitor}->email_address}">
                                    </TD>
                                  </TR>		
                                  <TR> 
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE" colspan=2 height=15></TD>
                                  </TR>											  						  								  
                                  <TR> 
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE">Set New Pin:</TD>
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE"> 
                                      <input name="new_pin_number1" type="password" class="text_field" id="new_pin_number1" style="width:250px;" onFocus="this.className='text_field2';" onBlur="this.className='text_field';" value="">
                                    </TD>
                                  </TR>					
                                  <TR> 
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE">Re-enter New Pin:</TD>
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE"> 
                                      <input name="new_pin_number2" type="password" class="text_field" id="new_pin_number2" style="width:250px;" onFocus="this.className='text_field2';" onBlur="this.className='text_field';" value="">
                                    </TD>
                                  </TR>		
                                  <TR> 
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE" colspan=2 height=15></TD>
                                  </TR>								  								  											  						  						  
								    <TR> 
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE">Phone Number:</TD>
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE"> 
                                      <input name="phone_number" type="text" class="text_field" id="phone_number" style="width:250px;" onFocus="this.className='text_field2';" onBlur="this.className='text_field';" value="{$c{visitor}->phone_number}">
                                    </TD>
                                  </TR>			
                                  <TR> 
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE" colspan=2 height=15></TD>
                                  </TR>	
                                  <TR> 
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE">Administrator:</TD>
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE"> 
                                      <input type="checkbox" name="admin" value="y"{$c{visitor}->get_admin_checked}>
                                    </TD>
                                  </TR>										  												  					  				  								  
                                </TABLE>

</TD></TR></TABLE></TD><TD WIDTH="2" BACKGROUND="/images/layout/panelr.gif"><IMG src="/images/layout/clear.gif" WIDTH="2" HEIGHT="1" BORDER="0"></TD></TR><TR><TD HEIGHT="2" COLSPAN="3" BACKGROUND="/images/layout/panelb.gif" ALIGN="RIGHT"><IMG src="/images/layout/panelbr.gif" BORDER="0" WIDTH="2" HEIGHT="2"></TD></TR></TABLE>
<br>
<IMG src="/images/layout/clear.gif" WIDTH="1" HEIGHT="8" BORDER="0"><BR>
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
<TR>
                        <TD ALIGN="LEFT" VALIGN="MIDDLE"><span style="color:#880000;" id="error_span">{$c{visitor}->{error_text}}</span></TD>
<TD ALIGN="RIGHT" VALIGN="MIDDLE"><input name="button" type="button" CLASS="button" style="width:75px;" onClick="history.back();"  value="Cancel">
                          &nbsp; 
                          <input type="submit" name="Submit" value="Save Details" CLASS="button" style="width:75px;">
                        </TD>
</TR></TABLE>
</TD>
</TR>
</TABLE>
</TD>
</TR>
</TABLE>
</form>
</td>
</tr>
</table>
</body>
</html>



