<link rel="stylesheet" href="/templates/lib.css" type="text/css">

<table border="0" cellspacing="0" cellpadding="5" align="center" height="100%">
<tr align="center">
<td colspan="2" height="20"><b>Are you sure?</b></td>
</tr>
<tr align="center" valign="middle">
<td>
<input type="button" value="Cancel" onClick="window.returnValue='cancel';window.close();" name="button">
</td>
<td>
<input type="button" value="Delete" onClick="window.returnValue='delete';window.close();" name="button2">
</td>
</tr>
</table>
