<!--#include virtual="temp_include.htm" -->
<body bgcolor="#FFFFFF" text="#000000">
<table width="100%" border="0" cellspacing="0" cellpadding="5">
<tr>
<td colspan="2"><font face="Arial, Helvetica, sans-serif" size="2"><b>Internet Explorer Required ...</b></font></td>
</tr>
<tr>
<td width="50%">
<p><font face="Arial, Helvetica, sans-serif" size="2">To make use of this system, you will need the Internet Explorer Version 5.0 or above browser installed on your system.  To obtain Internet Explorer and then make full use of the diary system, click the link opposite (to the  download page on Microsoft's website) and follow the download instructions.</font></p>
<p><font face="Arial, Helvetica, sans-serif" size="2">Otherwise, if you already have Internet Explorer installed on your system, point it at http://diary.webkit.tv  and you will be able to use the system.</font></p>
</td>
<td align="center" valign="middle" width="50%">
<p><font face="Arial, Helvetica, sans-serif" size="2"><a href="http://www.microsoft.com/windows/ie/default.asp"><img src="/images/nav/ie.gif" width="263" height="110" border="0" class="black_border"></a></font></p>
<p><a href="http://www.microsoft.com/windows/ie/default.asp"><font face="Arial, Helvetica, sans-serif" size="2">Click here to download Internet Explorer.</font></a></p>
</td>
</tr>
</table>
</body>