<!--#include virtual="temp_include.htm" -->
<script>
	var giMinYear = 2000;

	var giMaxYear = 2010;
	
{
	if($c{params}->{from}!~/\w/)
	{
		my $from = Webkit::Date->now;
		$from->epoch_days(-365);
		$from->Day(1);
		$c{params}->{from} = $from->get_string;
	}
	
	if($c{params}->{to}!~/\w/)
	{
		my $to = Webkit::Date->now;
		$to->Day(1);
		$c{params}->{to} = $to->get_string;
	}
}

	function submitForm()
	\{		
		var ret = new Object();
		ret.from = document.getElementById('from').value;
		ret.to = document.getElementById('to').value;
		ret.mode = document.getElementById('viewMode').value;
		
		top.returnValue = ret;
		top.close();
		
		return 1;
	\}
</script>
<body style="background-color:#D4D0C8;">

<table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
<tr>
<td width="100%" height="100%" align="center" valign="top">
<style>
.tab-page \{height:100%;width:100%;\}
.label \{padding-right:5px; width:75px; padding-bottom:5px;\}
.space \{width:30px;\}
.field \{padding-bottom:5px;\}
.priv1 \{padding-left:15px;\}
.keyword \{background-color:#D4D0C8;\}
</style>

<script type="text/javascript" src="/lib/tabpane.js"></script>
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%"><tr><td width="100%" height="100%" valign="top">

<div class="tab-pane" id="tabPane1">
<script type="text/javascript">tp1 = new WebFXTabPane( document.getElementById( "tabPane1" ) );</script>
<!--#### Document Details ####-->
<div class="tab-page" id="tabPage1">
<h2 class="tab"  id="tabShow1">Choose Your Viewing Mode...</h2>
<script>tp1.addTabPage( document.getElementById( "tabPage1" ) );</script>
<fieldset>
<legend>Select which pupils you want to analyse...</legend>
<div class="seccontent">
<table width="300" border="0" cellpadding="0" cellspacing="0">
{
	if($c{params}->{from_title}!~/\w/)
	{
		$c{params}->{from_title} = 'From';
	}
	
	if($c{params}->{to_title}!~/\w/)
	{
		$c{params}->{to_title} = 'To';
	}
	
	$OUT.="";
}
<tr style="padding-bottom:5px;">
<td align="left"><select name="viewMode" class="text_field" id="viewMode" style="width:100%;">
<option value="current" selected>Current School</option>
<option value="daterange">Date Range</option>
</select>
  </td>
</tr>
</table>
</div>
</fieldset>

<fieldset>
<legend>Date Range </legend>
<div class="seccontent">
<table width="300" border="0" cellpadding="0" cellspacing="0">
{
	if($c{params}->{from_title}!~/\w/)
	{
		$c{params}->{from_title} = 'From';
	}
	
	if($c{params}->{to_title}!~/\w/)
	{
		$c{params}->{to_title} = 'To';
	}
	
	$OUT.="";
}
<tr style="padding-bottom:5px;">
<td align="LEFT" colspan=3>Choose the range of dates you want to analyse...</td>
</tr>
<tr style="padding-bottom:5px;">
<td width="50" align="left"> From:&nbsp;</td>
<td align="LEFT"><input name="from" type="TEXT" class="text_field" id="from" style="width:100px;" value="{$c{params}->{from}}" onChange="document.getElementById('viewMode').value='daterange';"></td>
<td width="26" align="LEFT"><A ONCLICK="calendar_click(document.getElementById('from'));"><IMG src="/images/holiday/but_date.gif" WIDTH="26" HEIGHT="20" BORDER="0" ALIGN="ABSMIDDLE"></A></td>
</tr>
<tr style="padding-bottom:5px;">
<td align="left"> To:&nbsp;</td>
<td align="LEFT"><input name="to" type="TEXT" class="text_field" id="to" style="width:100px;" value="{$c{params}->{to}}" onChange="document.getElementById('viewMode').value='daterange';"></td>
<td align="LEFT"><A ONCLICK="calendar_click(document.getElementById('to'));"><IMG src="/images/holiday/but_date.gif" WIDTH="26" HEIGHT="20" BORDER="0" ALIGN="ABSMIDDLE"></A></td>
</tr>
</table>
</div>
</fieldset>
</div>
</div>
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" ALIGN="RIGHT" WIDTH="100%">
<TR>
<TD ALIGN="LEFT" VALIGN="MIDDLE" style="padding-top:8px; padding-left:8px;"></TD>
<TD ALIGN="RIGHT" VALIGN="TOP"><input type="button" value="OK" CLASS="button2" style="width:75px;" onClick="submitForm();">
<input type="button" onClick="top.returnValue=null;top.close();" name="Submit2" value="Cancel" class="button2" style="width:75px;">
</TD>
</TR>
</TABLE>
</table>
</fieldset>
</td>
</tr>
</table>
<script>	
		setupAllTabs();
</script>
{$c{calendar}}
</body>
</html>



