<html>
<head>
<title>Style Sheet Preview</title>
{$c{test}->get_style_sheet_include}
</head>
<body bgcolor="#FFFFFF" style="margin:15px;">
<!-- Outer Table Start -->
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
<tr>
	<td><div class="number">5</div></td>
	<td valign="middle" align="left" class="title" width="100%">Fractions</td>
	<td align="right"><div nowrap>
	<img src="/images/nctest/prev_off.gif" border="0" title="Previous Question" class="prevbut">
	<img src="/images/nctest/next_off.gif" title="Next Question" border="0" class="nextbut">

	</div></td>
</tr>
<tr>
	<td colspan="3" align="left" valign="top" height="100%">
<!-- Perl Editor Code Starts Here -->
<!-- Row Start (TableRow - 1) -->
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr >
	<td class="leftcol"></td>
	<td valign="top" align="left">
	<table cellpadding="0" cellspacing="0" border="0" width="100%"  style="margin-top:20px;">
	<tr>
		<!-- Cell Start (Cell - 2) -->

<td  align="left" valign="middle"><div class="text">Reduce a fraction to its simplest form by cancelling common factors:</div>
</td>

<!-- Cell End -->
		
	</tr>
	</table>
	</td>
	<td class="rightcol"><div class="marks"></div></td>	
</tr>
</table>
<!-- Row End -->


<!-- Row Start (TableRow - 3) -->
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr >
	<td class="leftcol"></td>
	<td valign="top" align="left">
	<table cellpadding="0" cellspacing="0" border="0" width="100%" >
	<tr>
		<!-- Cell Start (Cell - 4) -->

<td  width="100" align="right" valign="middle"><div class="comment">6 / 10 = </div>
</td>

<!-- Cell End -->
<!-- Cell Start (Cell - 5) -->

<td  align="left" valign="middle"><input type="text" class="textfield" value="" >
</td>

<!-- Cell End -->
		
	</tr>
	</table>
	</td>
	<td class="rightcol"><div class="marks">(1 marks)</div></td>	
</tr>
</table>
<!-- Row End -->


<!-- Row Start (TableRow - 6) -->
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr >
	<td class="leftcol"></td>
	<td valign="top" align="left">
	<table cellpadding="0" cellspacing="0" border="0" width="100%" >
	<tr>
		<!-- Cell Start (Cell - 7) -->

<td  width="100" align="right" valign="middle"><div class="comment">6 / 9 = </div>
</td>

<!-- Cell End -->
<!-- Cell Start (Cell - 8) -->

<td  align="left" valign="middle"><input type="text" class="textfield" value="" >
</td>

<!-- Cell End -->
		
	</tr>
	</table>
	</td>
	<td class="rightcol"><div class="marks">(1 marks)</div></td>	
</tr>
</table>
<!-- Row End -->


<!-- Row Start (TableRow - 9) -->
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr >
	<td class="leftcol"></td>
	<td valign="top" align="left">
	<table cellpadding="0" cellspacing="0" border="0" width="100%" >
	<tr>
		<!-- Cell Start (Cell - 10) -->

<td  width="100" align="right" valign="middle"><div class="comment">14 / 16 = </div>
</td>

<!-- Cell End -->
<!-- Cell Start (Cell - 11) -->

<td  align="left" valign="middle"><input type="text" class="textfield" value="" >
</td>

<!-- Cell End -->
		
	</tr>
	</table>
	</td>
	<td class="rightcol"><div class="marks">(1 marks)</div></td>	
</tr>
</table>
<!-- Row End -->


<!-- Row Start (TableRow - 12) -->
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr >
	<td class="leftcol"></td>
	<td valign="top" align="left">
	<table cellpadding="0" cellspacing="0" border="0" width="100%" >
	<tr>
		<!-- Cell Start (Cell - 13) -->

<td  width="200" align="left" valign="middle"><div class="comment">What is three tenths of 80?</div>
</td>

<!-- Cell End -->
<!-- Cell Start (Cell - 14) -->

<td  align="left" valign="middle"><input type="text" class="textfield" value="" >
</td>

<!-- Cell End -->
		
	</tr>
	</table>
	</td>
	<td class="rightcol"><div class="marks">(1 marks)</div></td>	
</tr>
</table>
<!-- Row End -->


<!-- Row Start (TableRow - 15) -->
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr >
	<td class="leftcol"></td>
	<td valign="top" align="left">
	<table cellpadding="0" cellspacing="0" border="0" width="100%" >
	<tr>
		<!-- Cell Start (Cell - 16) -->

<td  width="200" align="left" valign="middle"><div class="comment">What is seven tenths of 50?</div>
</td>

<!-- Cell End -->
<!-- Cell Start (Cell - 17) -->

<td  align="left" valign="middle"><input type="text" class="textfield" value="" >
</td>

<!-- Cell End -->
		
	</tr>
	</table>
	</td>
	<td class="rightcol"><div class="marks">(1 marks)</div></td>	
</tr>
</table>
<!-- Row End -->



<!-- Perl Editor Code Ends Here -->
	</td>
</tr>
<tr>
	<td colspan="3" align="right" style="padding-top:20px;"><img src="/images/nctest/prev_off.gif" border="0" title="Previous Question" class="prevbut"><img src="/images/nctest/next_off.gif" title="Next Question" border="0" class="nextbut"></td>
</tr>
</table>
</body>
</html>
