<HTML>
<HEAD><TITLE></TITLE>
<link rel="stylesheet" type="text/css" href="/templates/resourceshare/toolbar.css">
</script>
<script>

var nowEpochDate = new Date();
var nowEpoch = nowEpochDate.getTime();

function getDateString(dateObj)
\{
	var st = dateObj.getDate() + '/' + (dateObj.getMonth()+1) + '/' + dateObj.getYear();
	
	return st;
\}

function periodChanged()
\{
	var value = parseInt(document.moderation_form.period.value);
	
	var nowDate = new Date();
	nowDate.setTime(nowEpoch);
	
	var fromEpoch = nowEpoch - (value*1000*60*60*24);
	
	var fromDate = new Date();
	fromDate.setTime(fromEpoch);
	
	document.moderation_form.from_date.value = getDateString(fromDate);
	document.moderation_form.to_date.value = getDateString(nowDate);	
\}

</script>
  </HEAD>
 <BODY LEFTMARGIN="0" TOPMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0">

 <TABLE WIDTH="100%" BORDER="0" CELLPADDING="0" CELLSPACING="0" STYLE="border-bottom:1px #808080 solid;" HEIGHT="100%">
		<TR>
    <TD WIDTH="100%" HEIGHT="100%" valign="top" STYLE="font-family:tahoma,verdana; font-size:11px; color:#000000;">
 <TABLE WIDTH="100%" BORDER="0" CELLPADDING="0" CELLSPACING="0" STYLE="border-bottom:1px #808080 solid;" HEIGHT="100%">
		<TR>
    <TD WIDTH="100%" HEIGHT="100%" valign="top" STYLE="font-family:tahoma,verdana; font-size:11px; color:#000000;">	
      <table border="0" align="left" cellpadding="0" cellspacing="0">
        <tr>
          <td>
		  <TABLE WIDTH="100%" BORDER="0" CELLPADDING="8" CELLSPACING="0">
<TR>
<TD>
<fieldset>
<legend>Find Resources for Moderation</legend>
<form name="moderation_form" style="margin:0px;padding:0px;" target="moderationcontent">
<input type="hidden" name="session_id" value="{$c{session_id}}">
<input type="hidden" name="method" value="moderation_home">
<input type="hidden" name="do_search" value="y">
<div class="seccontent" align="left">  						
                            <TABLE BORDER="0" CELLPADDING="4" CELLSPACING="0">
                              <TR>
                                <TD ALIGN="right" VALIGN="MIDDLE"> From:</TD>
                                <TD ALIGN="LEFT" VALIGN="MIDDLE">
				<table border=0 cellpadding="0" cellspacing="0">
				<tr>
				<td><INPUT CLASS="text_field" TYPE="TEXT" NAME="from_date" id="from_date" STYLE="width:100px;" VALUE="{$c{params}->{from_date}}"></td>
				<td><IMG src="/images/holiday/clear.gif" WIDTH="5" HEIGHT="1" BORDER="0" ALIGN="ABSMIDDLE"><A style="cursor:hand;" ONCLICK="parent.content.calendar_click(document.moderation_form.from_date);"><IMG src="/images/holiday/but_date.gif" WIDTH="26" HEIGHT="20" BORDER="0" ALIGN="ABSMIDDLE"></A></td>
               	</tr>
                                </table>
                                </TD>
                                <TD ALIGN="LEFT" VALIGN="MIDDLE">&nbsp;</TD>
                                <TD ALIGN="right" VALIGN="MIDDLE">To:</TD>
                                <TD ALIGN="LEFT" VALIGN="MIDDLE">
				<table border=0 cellpadding="0" cellspacing="0">
				<tr>
				<td><input class="text_field" type="TEXT" name="to_date" id="to_date" style="width:100px;" value="{$c{params}->{to_date}}"></td>
				<td><img src="/images/holiday/clear.gif" width="5" height="1" border="0" align="ABSMIDDLE"><a style="cursor:hand;" onClick="parent.content.calendar_click(document.moderation_form.to_date);"><img src="/images/holiday/but_date.gif" width="26" height="20" border="0" align="ABSMIDDLE"></a></td>
				</tr>
				</table>
				</TD>
				                <TD ALIGN="LEFT" VALIGN="MIDDLE"></TD>
                              <TD colspan="2" ALIGN="left" VALIGN="MIDDLE"><input name="all_dates" type="checkbox" id="all_dates" value="y" CHECKED> 
Show All Dates </TD>
<!--#### LEA ONLY START ####-->
                                <!--#### LEA ONLY END ####-->
                              </TR>
                              <TR>						
                                <TD ALIGN="right" VALIGN="MIDDLE">Period:</TD>	
                                <TD ALIGN="LEFT" VALIGN="MIDDLE"><select name="period" class="text_field" style="width:100%;" onChange="periodChanged(this);">{$c{org}->get_moderation_period_options($c{params}->{period})}</select>	</TD>	
                                <TD ALIGN="LEFT" VALIGN="MIDDLE">&nbsp;</TD>
                                <TD ALIGN="right" VALIGN="MIDDLE">School:</TD>
                                <TD ALIGN="LEFT" VALIGN="MIDDLE"><select name="org_id" class="text_field" id="org_id" style="width:100%;">
								
								{$c{org}->get_sub_org_options($c{params}->{org_id})}<option value="all" selected>Show All Schools</option></select>	</TD>
				                <TD ALIGN="LEFT" VALIGN="MIDDLE">&nbsp;</TD>						
                                <TD ALIGN="LEFT" VALIGN="MIDDLE"><select name="website_id" class="text_field" id="website_id" style="width:100%;">{$c{org}->get_website_options($c{params}->{website_id})}</select>	</TD>								
                              </TR>
							  <tr><TD ALIGN="right" VALIGN="MIDDLE">Mode:</TD>
                                <TD ALIGN="LEFT" VALIGN="MIDDLE"><select name="mode" class="text_field" id="mode" style="width:100%;">{$c{org}->get_moderation_mode_options($c{params}->{mode})}
                                </select></TD>
                                <TD ALIGN="LEFT" VALIGN="MIDDLE">&nbsp;</TD>
                                <TD ALIGN="right" VALIGN="MIDDLE">Search:</TD>
                                <TD ALIGN="LEFT" VALIGN="MIDDLE"><INPUT NAME="search" TYPE="TEXT" CLASS="text_field" id="search" STYLE="width:100%;" VALUE="{$c{params}->{search}}"></TD>
				                <TD ALIGN="LEFT" VALIGN="MIDDLE"></TD>		
								<td><input type="submit" class="button" value="View Resources"></td>																
							  </tr>
                          </TABLE>
</div>
</fieldset>
</form>
</td></tr></table>		  </td>  
       </tr>
      </table>
      </TD>
		</TR>
</TABLE>
      </TD>
		</TR>
</TABLE>
<script>
periodChanged();
</script>
</BODY>
</HTML>