

<link rel="stylesheet" href="/lib/app.css" type="text/css">
<link rel="STYLESHEET" type="text/css" href="/lib/contextmenu/contextmenu.css">
<!--<body onload="body_loaded();" oncontextmenu="contextForBody(this)">-->

<script>
	var emailMap = \{\};
	
	function addCheckbox(id)
	\{
		emailMap[id] = id;
	\}
	
	function doSelectMode(selectMode)
	\{
		for(var emailID in emailMap)
		\{
			document.getElementById(emailID).checked = selectMode;
		\}
	\}
	
	function checkEmailForm()
	\{
		var form = document.email_form;
		
		if(form.subject.value=="")
		\{
			alert('Please enter a subject for the email.');
			return false;
		\}
		
		if(form.notes.value=="")
		\{
			alert('Please enter a message for the email.');
			return false;
		\}
		
		document.getElementById('mainTable').style.display = 'none';
		document.getElementById('loadingMessage').style.display = 'block';
		
		return true;
	\}
</script>
<body>

<TABLE WIDTH="100%" BORDER="0" CELLPADDING="0" CELLSPACING="0">
 <TR>
<TD WIDTH="180" ALIGN="LEFT" VALIGN="TOP" NOWRAP>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
          <td><img src="/images/icons/48x48/about.gif" width="48" height="48"></td>
</tr>
<tr>
<td style="font-size:12px;font-weight:bold; padding-top:10px;" height="40" valign="top" align="left">Password Reminder </td>
</tr>
<tr>
<td id="description" align=left valign=top>Click on the schools email addresses that you want to send passwords to.<br>
<br>
You can edit the message that is sent by changing the subject and message.<br>
<br>
-schoolname-<br>
<br>
and<br>
<br>
-password-<br>
<br>
will be replaced by the respective name and password when sent to a school. <br>
<br>
<strong>NOTE</strong> - only schools that have email addresses are shown opposite.</td>
</tr>
</table>

</TD>
<td width="10"></td>
<TD ALIGN="center" VALIGN="TOP">
<form method="POST" action="{$c{script}}" onSubmit="return checkEmailForm();" name="email_form">
<input type="hidden" name="session_id" value="{$c{session_id}}">
<input type="hidden" name="method" value="password_reminder_submit">
<table width="100%"  border="0" cellspacing="0" cellpadding="5" id="mainTable">
<tr>
<td>

<table border=0 cellpadding="5" cellspacing="0">
<tr>
<td align="right"><strong>
Subject:
</strong></td>
<td>
<input onFocus="this.className='text_field2';" onBlur="this.className='text_field';" class="text_field" type="TEXT" name="subject" style="width:300px;" value="BLP password">
</td>
</tr>
<tr>
<td align="right" valign="top"><strong> 
Message:
</strong></td>
<td>
<textarea onFocus="this.className='text_field2';" onBlur="this.className='text_field';" class="text_field" name="notes" style="width:400px; height:140px;">Dear -schoolname-,

The following is your password for the BLPShare website.


-password-


Visit http://www.blpshare.co.uk and use the password above to login.

Many thanks,
TLO admin
</textarea>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
Choose which schools to send this message to:<br>
<br>
<input type="button" name="Button" value="Select All" class="button" onClick="doSelectMode(true);">
 <input type="button" name="Button" value="Select None" class="button" onClick="doSelectMode(false);">
<br>
<br>

<table border=0 cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
{
	foreach my $org (@{$c{org}->get_child_array('org')})
	{
		my $name = $org->name;
		my $org_id = $org->get_id;
		my $has_emails = undef;
		
		$OUT.=<<"+++";
	<tr bgcolor="#FFFFFF" id="row$org_id">
		<td colspan=2>
			<b><img src="/images/icons/16x16/home.gif" width="16" height="16" align="absmiddle"> $name</b>
		</td>
</tr>
+++

		foreach my $school (@{$org->ensure_child_array('users')})
		{
			my $school_name = $school->get_fullname;
			my $email1 = $school->email1;
			my $email1name = $school->email1name;
			my $email2 = $school->email2;
			my $email2name = $school->email2name;
			
			if(($email1!~/\w/)&&($email2!~/\w/)) { next; }
			
			$has_emails = 1;
			
			my $school_id = $school->get_id;
			
			$OUT.=<<"+++";
	<tr bgcolor="#FFFFFF">
		<td width=50>
		</td>
		<td>
			<img src="../../images/icons/16/user_readonly.gif" width="16" height="16" align="absmiddle"> $school_name
		</td>
</tr>			
+++

			if($email1=~/\w/)
			{
				$OUT.=<<"+++";
	<tr bgcolor="#FFFFFF">
		<td width=50>
		</td>
		<td>
			<img src="/images/clear.gif" height=8 width=50 align=absmiddle> <input type="checkbox" id="email1_$school_id" name="email1_$school_id" value="y"> <i>$email1name - $email1</i>
			<script>
				addCheckbox('email1_$school_id');
			</script>
		</td>
	</tr>			
+++
			}
			
			if($email2=~/\w/)
			{
				$OUT.=<<"+++";
	<tr bgcolor="#FFFFFF">
		<td width=50>
		</td>
		<td>
			<img src="/images/clear.gif" height=8 width=50 align=absmiddle> <input type="checkbox" id="email2_$school_id" name="email2_$school_id" value="y"> <i>$email2name - $email2</i>
			<script>
				addCheckbox('email2_$school_id');
			</script>
		</td>
	</tr>			
+++
			}
		}
		
		if(!$has_emails)
		{
			$OUT.=<<"+++";
			<script>
			document.getElementById('row$org_id').style.display = 'none';
			</script>
+++
		}
	}
}
</table>
<br>
<br>
<input type="submit" name="Submit" value="SEND MESSAGES" class="button"></td>
</tr>
</table>
<b id="loadingMessage" style="color:#CC0000;display:none;">Sending Messages - Please Wait...</b>

</form>
</td>
</tr></table>
