<!--#include virtual="temp_include.htm" -->
<body>
<TABLE WIDTH="100%" BORDER="0" CELLPADDING="0" CELLSPACING="0" HEIGHT="100%">
 <TR>
	<TD HEIGHT="100%" WIDTH="100%" ALIGN="CENTER" VALIGN="MIDDLE">

	 <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" CLASS="panelouter">
		<TR>
		 <TD>
			<TABLE WIDTH="100%" BORDER="0" CELLPADDING="10" CELLSPACING="0" CLASS="panelinner" HEIGHT="100%">
			 <TR>
				<TD CLASS="panelbody" HEIGHT="100%" WIDTH="100%" ALIGN="RIGHT" VALIGN="TOP">
				<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0">
				<TR>
				  <TD ALIGN="LEFT" VALIGN="TOP" WIDTH="40"><IMG
					 src="/images/holiday/excel.gif" WIDTH="32" HEIGHT="32" BORDER="0"></TD>
				  <TD COLSPAN="2" ALIGN="LEFT" VALIGN="TOP"><B>Your Microsoft Excel file has been generated</B><BR><IMG src="/images/holiday/clear.gif"
					 WIDTH="1" HEIGHT="10" BORDER="0"><br></TD>
				  <TD ALIGN="LEFT" VALIGN="TOP" WIDTH="25"></TD>
				</TR>
			 </TABLE><IMG src="/images/holiday/clear.gif" WIDTH="1"
							 HEIGHT="10" BORDER="0"><BR><button style="height:23px; width:75px; font-family:tahoma; font-size:11px;" onclick="document.location='{$c{url}}';"><img src="/images/holiday/save.gif" width="16" height="16" border="0" align="absmiddle"><IMG src="/images/holiday/clear.gif" WIDTH="8" HEIGHT="1" BORDER="0">Save File</button></TD>
			 </TR>
			</TABLE></TD>
		</TR>
	 </TABLE> </TD>
 </TR>
</TABLE>



<script>
parent.pagetop.location = '/templates/holiday/export_top.htm';
</script>
</body>