<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>David Lock</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
a \{color:#666699; text-decoration:none;\}
a:hover \{color:#A3C7EB; text-decoration:underline;\}
body \{
	background-attachment: fixed;
	background-color: #FFFFFF;
	background-image: url(/davidlock/images/pagebacknew.jpg);
	background-repeat: no-repeat;
	background-position: center center;
\}
</style>

</head>

<body>
<div align="center">
  <table width="100%" border="0" align="center" cellpadding="10">
    <tr> 
      <td height=15 colspan="2" align="center" valign="top"> </td>
    </tr>
    <tr valign="middle"> 
      <td height="177" align="center"><img src="/davidlock/images/dlock.gif" width="300" height="157"></td>
      <td align="left"> 
        <table width="100%" border="0" cellpadding="5" cellspacing="1" style="border: 1px solid #666666;">
          <tr>
            <td style="background-color:#ffffff;filter: Alpha(Opacity=70, Style=0);">
              <p><font size="2" face="Tahoma, Verdana, Arial">Welcome <strong>{$c{user}->get_fullname}!</strong></font></p>
              <p><font size="2" face="Tahoma, Verdana, Arial">Below is a list 
                of files that are availiable for download. Hover the mouse over 
                a row for a few seconds to view its description.<br>
                Use the 'download' link to copy the file onto your computer.<br>
                <br>
                Please email <b><a href="mailto:documents@davidlockconsulting.com">documents@davidlockconsulting.com</a></b> 
                if you need any assistance.</font></p>
              <p><font size="2" face="Tahoma, Verdana, Arial"><b><a href="http://www.davidlockconsulting.com/flash_frame.htm">Click 
                Here to return to davidlockconsulting.com</a></b></font></p>
      </td>
          </tr>
        </table>
        
      </td>
    </tr>
    <tr> 
      <td height=15 colspan="2" align="center" valign="top"> </td>
    </tr>	
    <tr> 
      <td colspan="2" align="center" valign="top">{$c{resource_table}}</td>
    </tr>
  </table>
 </div>
</body>
</html>
