<!--#include virtual="temp_include.htm" -->
<script>
	function validate_bounce_form()
	\{
		var form = document.bounce_form;
		
		var value = form.bounce_count.value;

		var confirm = window.confirm('Are you sure you want to delete ALL addresses that have bounced ' + value + ' or more times?');
		
		return confirm;
	\}
</script>

<body>
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
<tr>
<td width="100%" height="100%" align="center" valign="middle">

      <form action="{$c{script}}" method="GET" name="bounce_form" onSubmit="return validate_bounce_form();">
        <input type="hidden" name="session_id" value="{$c{session_id}}">
<input type="hidden" name="method" value="easemail_remove_bounces_submit">
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" CLASS="panelouter">
<TR>
<TD>
<TABLE WIDTH="100%" BORDER="0" CELLPADDING="8" CELLSPACING="0" CLASS="panelinner">
<TR>
<TD CLASS="panelbody">

<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0"><TR>
                        <TD COLSPAN="2" ALIGN="LEFT" BACKGROUND="/images/layout/panelt.gif" HEIGHT="13"><IMG src="/images/layout/paneltl.gif" BORDER="0" WIDTH="7" HEIGHT="13" ALIGN="ABSMIDDLE"><FONT CLASS="section_title"
>&nbsp;Remove Bounced Addresses &nbsp;</FONT></TD>
<TD WIDTH="2" HEIGHT="13" VALIGN="TOP"><IMG src="/images/layout/paneltr.gif" BORDER="0" WIDTH="2" HEIGHT="13"></TD></TR><TR><TD WIDTH="2" BACKGROUND="/images/layout/panell.gif"><IMG src="/images/layout/clear.gif" WIDTH="2" HEIGHT="1" BORDER="0"></TD><TD WIDTH="100%"><TABLE WIDTH="100%" BORDER="0" CELLPADDING="8" CELLSPACING="0"><TR><TD>

                                <TABLE BORDER="0" CELLPADDING="4" CELLSPACING="0">
                                  <TR> 
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE">Number of 
                                      Bounces</TD>
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE">Number of 
                                      Members </TD>
                                  </TR>
{
	foreach my $ref (@{$c{count_refs}})
	{
		my $number = $ref->{number};
		my $count = $ref->{count};

		$OUT.=<<"+++";
                                  <TR> 
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE">$number</TD>
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE">$count </TD>
                                  </TR>
+++
	}
}
                                  <TR> 
                                    <TD colspan="2" ALIGN="LEFT" VALIGN="MIDDLE" height=15></TD>
                                  </TR>
                                  <TR> 
                                    <TD colspan="2" ALIGN="LEFT" VALIGN="MIDDLE">Remove 
                                      all members with</TD>
                                  </TR>
                                  <TR> 
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE">
                                      <select size="1" style="width:100%;" class="text_field" name="bounce_count">{$c{count_options}} 
                                      </select>
                                    </TD>
                                    <TD ALIGN="LEFT" VALIGN="MIDDLE">bounces or 
                                      more </TD>
                                  </TR>
                                </TABLE>

</TD></TR></TABLE></TD><TD WIDTH="2" BACKGROUND="/images/layout/panelr.gif"><IMG src="/images/layout/clear.gif" WIDTH="2" HEIGHT="1" BORDER="0"></TD></TR><TR><TD HEIGHT="2" COLSPAN="3" BACKGROUND="/images/layout/panelb.gif" ALIGN="RIGHT"><IMG src="/images/layout/panelbr.gif" BORDER="0" WIDTH="2" HEIGHT="2"></TD></TR></TABLE>
<br>
<IMG src="/images/layout/clear.gif" WIDTH="1" HEIGHT="8" BORDER="0"><BR>
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
<TR>
                        <TD ALIGN="LEFT" VALIGN="MIDDLE"><span style="color:#880000;" id="error_span">{$c{error_text}}</span></TD>
<TD ALIGN="RIGHT" VALIGN="MIDDLE"><input type="button"  value="Cancel" CLASS="button" style="width:75px;" onClick="history.back();">&nbsp; 
                          <input type="submit" name="Submit" value="Remove Addresses" CLASS="button" style="width:100px;">
                        </TD>
</TR></TABLE>
</TD>
</TR>
</TABLE>
</TD>
</TR>
</TABLE>
</form>
</td>
</tr>
</table>
</body>
</html>



