<!--#include virtual="temp_include.htm" -->
<script>
	function submitForm()
	\{
		var text = document.getElementById('notes').value;
		
		var ret = new Object();
		ret.value = text;
		
		var title = text;
		
		title = title.replace(/\r?\n/g, '<br>');
		
		ret.title = title;
		
		top.returnValue = ret;
		top.close();
		
		return 1;
	\}
	
	function applyArgs()
	\{
		var args = top.dialogArguments;
		
		if(args)
		\{
			document.getElementById('notes').value = args;
		\}
	\}
</script>
<body style="background-color:#D4D0C8;">

<table cellpadding="0" cellspacing="0" border="0" width="100%" {Webkit::Browser->if_not_mac('height="100%"')}>
<tr>
<td width="100%" {Webkit::Browser->if_not_mac('height="100%"')} align="center" valign="top">
<style>
.tab-page \{height:100%;width:100%;\}
.label \{padding-right:5px; width:75px; padding-bottom:5px;\}
.space \{width:30px;\}
.field \{padding-bottom:5px;\}
.priv1 \{padding-left:15px;\}
.keyword \{background-color:#D4D0C8;\}
</style>

{Webkit::Browser->if_not_mac('<script type="text/javascript" src="/lib/tabpane.js"></script>')}


<table border="0" cellpadding="0" cellspacing="0" width="100%" {Webkit::Browser->if_not_mac('height="100%"')}><tr><td width="100%" {Webkit::Browser->if_not_mac('height="100%"')} valign="top">

{
	$OUT.=Webkit::Browser->if_not_mac(<<"+++");
<div class="tab-pane" id="tabPane1">
<script type="text/javascript">tp1 = new WebFXTabPane( document.getElementById( "tabPane1" ) );</script>
<!--#### Document Details ####-->
<div class="tab-page" id="tabPage1">
<h2 class="tab"  id="tabShow1">Edit Notes</h2>
<script>tp1.addTabPage( document.getElementById( "tabPage1" ) );</script>
<fieldset>
<legend>Current Notes</legend>
<div class="seccontent">
+++

	$OUT.=Webkit::Browser->if_is_mac(<<"+++");
	<u>Current Notes</u><br><br>
+++
}

<table width="96%" border="0" cellpadding="0" cellspacing="0">
<tr style="padding-bottom:5px;">
<td align="left"><textarea name="notes" id="notes" onFocus="this.className='text_field2';" onBlur="this.className='text_field';" class="text_field" style="width:400px; height:200px;">{$c{value}}</textarea></td>
</tr>
</table>

{
	$OUT.=Webkit::Browser->if_not_mac(<<"+++");
</div>
</fieldset>
</div>
</div>
+++
}


<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" ALIGN="RIGHT" WIDTH="100%">
<TR>
<TD ALIGN="LEFT" VALIGN="MIDDLE" style="padding-top:8px; padding-left:8px;"><input type="button" value="Clear" CLASS="button2" style="width:75px;" onClick="document.getElementById('notes').value='';"></TD>
<TD ALIGN="right" VALIGN="TOP"><input type="button" value="OK" CLASS="button2" style="width:75px;" onClick="submitForm();">
<input type="button" onClick="top.returnValue=null;top.close();" name="Submit2" value="Cancel" class="button2" style="width:75px;">&nbsp;&nbsp;</TD>
</TR>
</TABLE>
</table>


</td>
</tr>
</table>
<script>	
		{Webkit::Browser->if_not_mac('setupAllTabs();')}
		applyArgs();
</script>

</body>
</html>



