<link rel="stylesheet" href="../lib.css" type="text/css">
<style type="text/css">
body {background:menu; border:0px;margin:0px;}
</style>
<body bgcolor="#FFFFFF" text="#000000">
<table border="0" cellspacing="0" cellpadding="0" width="100%" height="100%">
<tr align="center" valign="middle">
<td width="200" align="right"><div class="warning_div2">Warning, you have not saved, <br>
would you like to -</div></td>
<td>
<input type="button" value="Cancel" class="form_submit" name="Button22" onClick="parent.save_cancel();">
</td>
<td>
<input type="button" value="Don't Save" class="form_submit" name="Button2" onClick="parent.save_decline();">
</td>
<td>
<input type="button" value="Save" class="form_submit" name="Button" onClick="parent.save_accept();">
</td>
</tr>
</table>

</body>